{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrapC.min.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
	<title>{{title}}</title>
  <style media="screen">

    h1{
    font-size: 80px !important;
    }

    .outer{
      padding-top: 40px;
    }

    .main{
      font-size: 35px;
    }

    .signature p{
      font-size: 20px;
    }

    .signs .col-lg-4{
      padding: 20px;
    }

    .certify{
      font-size: 30px;
    }

  </style>


</head>
<body>

	<div class="container">






<div class="outer container">



  <div class="row">

    <div class="col-lg-6">
        <img src="{% static 'img/Codecell.jpg' %}" class="img-fluid" alt="">
    </div>



      <div class="col-lg-4"></div>



    <div class="col-lg-2">
      <img src="{% static 'img/KJSCE.png' %}" class="img-fluid" alt="">
    </div>


  </div>




  <h1 class="text-center lead">Participation Certificate</h1>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <p class="text-center lead certify">This is to certify that</p>
    </div>
    <div class="col-lg-2"></div>
  </div>



  <br>
  <br>
  <br>
  <br>




  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 lead main" align="justify">Mr/Ms Chaitya Shah of  TY IT has participated in Workshop X Organized by KJSCE Codecell on DATE</div>
    <div class="col-lg-1"></div>
  </div>



  <br>
  <br>





<br>

<br>


  <div class="row signs">
    <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-6 signature">
        <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
        <p class='text-center'>Computers</p>
      </div>

      <div class="col-lg-6 signature">
        <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
        <p class='text-center'>I. T.</p>
      </div>
    </div>

    <p class="text-center">Head of Department</p>


    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6 signature">
          <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
          <p class='text-center'>Computers</p>
        </div>

        <div class="col-lg-6 signature">
          <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
          <p class='text-center'>I. T.</p>
        </div>
      </div>


    <p class="text-center">Faculty Advisors</p>


    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6 signature">
          <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
          <p class='text-center'></p>
        </div>

        <div class="col-lg-6 signature">
          <img src="{% static 'img/signature.png'  %}" class="img-fluid" alt=""><br>
          <p class='text-center'></p>
        </div>
      </div>


          <p class="text-center">Committee Heads</p>


    </div>


  </div>


  <div class="row">
    <div class="col-lg-12">

      <p class="text-center">
        Check online at : www.somelinkhere.com/tocheckthiscertificate
      </p>

    </div>
  </div>




</div>




	</div>



</body>
</html>
