body{
	background-color: rgba(221,221,221,0.5);
}

.hide{
	display: none !important;
}
.margin-bottom{
	margin-bottom: 10px;
}
h1 {
	padding: 10px;
	text-align: center;
}

.search li{
	margin: 10px;
}

.form-add td, .form-add th{
	padding: 10px;
	margin: 3px;
}

.footer{
	padding: 5%;
	padding-bottom: 1%;
	position: relative;
	bottom: 0px;
}

.login-form input, .login-form button{
	margin-top: 2%;
	margin-bottom: 2%;
}

/*
.form-add input{
	display: inline-block;
}*/
/*.form-grou input{
	display: block;
}*/
