{% extends "records/index.html" %}
{% block recordcontent %}

<br>
<br>
<br>
<br>
<br>


	<div class="container">
			<table class="table table-condensed table-striped table-bordered table-inverse table-hover">
			<thead class="">
				<tr>
					<th>Event Name</th>
					<th>Event Type</th>
					<th>Registration Link</th>
					<th>View Attendees</th>
					<th>Generate Certificates</th>
				</tr>
			</thead>
			<tbody>
			{% for event in data %}

				<tr>
					<td>{{event.event_name}}</td>
					<td>{{event.event_type}}</td>
					<td><a href="{{event.event_url}}" target='_blank'>Registration</a></td>
					<td><a href="{{event.event_url}}view/" target='_blank'>View Attendees</td>
					<td><form action='.' method="post">
						{% csrf_token %}
						<input type="text" style="display: None" value="{{event.id}}" name="event_id" />
						<input name='event_url' type = "text" value="{{event.event_url}}" style="display: none" />
						<input type="submit" value='generate Certificates' />
					</form></td>
				</tr>

			{% endfor %}
			</tbody>
		</table>
	</div>



{% endblock %}
